html,
body{
    background-color: rgb(137, 191, 255);
}

.title-parent{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 35px;
    font-family: Cambria Math, serif;
    text-align: center;
    position: absolute;
}
